# Configuration file where you can list the name of the package you want to install under the line "#ToInstall" and 
# the package you want to remove under the line "#ToRemove".

# DO NOT REMOVE the two lines: "#ToInstall", "#ToRemove", otherwise the script will not work correctly.

# ALWAYS end the file with an empty line, otherwise the script may not work correctly.
 
#ToInstall
#ToRemove
