# Configuration file where you can list the name of the package you want to install under the line "#TOINSTALL" and 
# the package you want to remove under the line "#TOREMOVE".

# DO NOT REMOVE the two lines: "#TOINSTALL", "#TOREMOVE", otherwise the script will not work correctly.

# ALWAYS end the file with an empty line, otherwise the script may not work correctly.
 
#TOREMOVE

#TOINSTALL
ardour
blender
intellij-idea-community
pycharm-community
android-studio
gimp
kdenlive
spotify
telegram-desktop
sublime-text
gnome-tweaks
gnome-tweak-tool
wireshark
gparted
